<div id="page_form">
<% semantic_form_for [:admin,@page] do |form| %>
	<% form.inputs do %>
		<%= form.input :title %>
		<%= form.input :content,  :input_html => { :class => "mceEditor", :cols => 90, :rows => 50 } %>
	<% end %>
	<%= form.buttons %>
<% end %>
</div>