<% div_for atelier, :class => "item #{cycle("even","odd")}" do %>

	<div class="actions">
		<%= link_to "Edit", edit_admin_atelier_path(atelier) %> <%= link_to "Delete", admin_atelier_path(atelier), :method => :delete, :confirm => "Are you sure?" %>
	</div>

	<%= link_to atelier.title, atelier, :target => "_blank" %> 
	
<% end %>