<h1>Ateliers</h1>

<p class="new_item"><%= link_to 'New Item', new_admin_atelier_path %></p>

<p>Change item order by dragging and dropping them into place (the “move” icon is visible to indicate that the item is draggable)</p>

<div id="ateliers">
	<%= render @ateliers %>
</div>

<%= sortable_element('ateliers', :url =>{ :controller => 'ateliers', :action => 'sort' }) %>
