.page-header
	%h1
		<i class="fas fa-paperclip"></i>
		= t 'admin.attachments.header'

= link_to new_admin_attachment_path, class: 'btn btn-success' do
	<i class="fas fa-plus-circle"></i>
	= t('admin.new_item')

%hr

%table.table
	%tr
		%th ID
		%th
		%th Name
		%th Type
		%th
	= render @items
