.page-header
	%h1= t 'admin.attachments.header'

= link_to t('admin.new_item'), new_admin_attachment_path, class: 'btn btn-default'

%hr

%table.table
	%tr
		%th ID
		%th
		%th Name
		%th Type
	= render @items
