<h1>Attachments</h1>

<p class="new_item"><%= link_to 'New Attachment', new_admin_attachment_path %></p>
<table>
  <tr>
		<th>Thumb</th>
    <th>Name</th>
    <th>Type</th>
		<th>Link</th>
		<th>Edit</th>
		<th>Delete</th>
  </tr>
	<%= render @items %>
</table>