.page-header
	%h1 La Présence Administration Dashboard

%ul.nav.nav-stacked.nav-pills
	%li= link_to "Pages", admin_pages_path
	%li= link_to "Ateliers", admin_ateliers_path
	%li= link_to "Groupes", admin_groupes_path
	%li= link_to "Attachments", admin_attachments_path
