<h1>Groupes</h1>

<p class="new_item"><%= link_to 'New Item', new_admin_groupe_path %></p>

<p>Change item order by dragging and dropping them into place (the “move” icon is visible to indicate that the item is draggable)</p>

<div id="groupes" class="sortable" data-target="/admin/groupes/sort">
	<%= render :partial => "admin/groupes/groupe", :collection => @groupes %>
</div>


