@import "jquery-ui";


body { padding-top: 60px; padding-bottom: 100px; }

.offset-right {
	margin-right: 1em;
}
.admin-button {
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
}
.clear-date {
	&:hover {
		cursor: pointer;
	}
}
td, th, .item, .admin-button {
  font-size: 18px;
}
.unbutton {
	background-color: transparent;
	outline: none;
	border-width: 0;
	padding: none;

}
.publish-button {
	display: inline-block;
	padding-right: 1em;
}

/* uppy */
.upload-preview img {
  display: block;
  max-width: 100%;
}

.upload-preview {
  margin-bottom: 10px;
  display: inline-block;
}

img[src=""] {
  visibility: hidden;
}
/* end uppy */