<h1>Images</h1>

<p class="new_item"><%= link_to 'New Image', new_admin_image_path %></p>

<table>
  <tr>
		<th>Thumnail</th>
    <th>Name</th>
		<th>URL</th>
		<th>Edit</th>
		<th>Delete</th>
  </tr>
	<%= render @images %>
</table>